/* FUENTES */
@font-face{src:url('../tipografias/AllentownPersonalUse.ttf');
        font-family:rotulo;
}

@font-face{src:url('../tipografias/texto.otf');
        font-family:texto;
}

/* BODY */
body {  background-color: rgb(160, 241, 160);}

/* CONTAINER */
#container{ width: 90%;
        margin: auto;
}

/* EN EL CONTAINER */
#Temporada1 { padding:20px;
        background-color: rgb(160, 241, 160);
        text-align: justify;
}

/* IMAGENES */
#casajonathan { width: 50%;
        float:left; /* Foto pegada a la izquierda. */
        margin-right:20px;
        padding-bottom: 20px;
}

/* TITULO CONTAINER */
#titulo1 { color: rgb(150, 35, 35);
        text-shadow:1px 1px 1px rgb(124, 45, 45);
        text-align: center;
        font-family: rotulo;
}

/* TEXTO CONTAINER */
#parte1 { color: rgb(124, 105, 97);
        font-family: texto;
}

#parte1 p {font-size: 25px;}

/* GALERIA */
#galeria .row .column {box-sizing:border-box;}
.row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        position: auto;
}

/* Create four equal columns that sits next to each other */
.column {
        flex: 24%;
        max-width: 24%;
        padding: 0 4px;
}

.column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
}

@media screen and (max-width: 800px) {
        .column {
        flex: 50%;
        max-width: 50%;
        }
}

      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
        .column {
        flex: 100%;
        max-width: 100%;
        }
}

/* MEDIA QUERYS */
@media only screen and (max-width:800px){
        #casajonathan {width:75%}
}

@media only screen and (max-width:750px){
        #casajonathan {width:100%}
}